<header>
<challenge-header [title]="'Maquetación HTML Y CSS'" [instructionPage]="'htmlCss'"/>
</header>



<!-- Puedes comenzar a partir de aquí ignorando la etiqueta header y challenge-header -->

<header class="header">
  <ul>
    <img src="../../../../assets/images/pexels-magda-ehlers-1337380.jpg" alt="">
    <li>
      <a routerLink="home">Home</a>
    </li>
    <li>
      <a routerLink="gallery">Gallery</a>
    </li>
    <li>
      <a routerLink="contact">Contact</a>
    </li>
  </ul>
</header>

<div class="container">
  <div class="imagen">
    <img src="../../../../assets/images/pexels-gizem-çelebi-19065394.jpg" alt="">
  </div>

  <div class="texto">
    <h1>Un ojo al futuro</h1>
    <h3>No tengas miedo</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, qui. Enim dolorum placeat magni culpa ea dignissimos,
      qui, assumenda fuga exercitationem minima reiciendis voluptates quam ducimus quaerat quis doloribus harum!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis similique, itaque facilis, minus aut unde ab,
      labore et ipsum fuga repudiandae! Labore ipsam expedita dolores quam tempore excepturi praesentium eaque?</p>

      <h2>Suscríbete a la acción</h2>
      <button class="button"> Dale Click </button>
  </div>
</div>

<div class="footer">
  <div class="texto_foot">
    Todos los derechos reservados
  </div>
</div>
