<header>
  <mat-toolbar color="primary">
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </mat-toolbar>
</header>
<main>
  <mat-nav-list>
    @for(challenge of challengeModules; track challenge ){
      <mat-list-item [routerLink]="challenge.route">
        <img [src]="challenge.logo" matListItemAvatar>
        <span matListItemTitle>{{ challenge.title }}</span>
        <span matListItemLine [innerHTML]="challenge.descriptionHTML"></span>
      </mat-list-item>
    }
  </mat-nav-list>
</main>
